*.o
log.txt
*glsldevil

Vulkan/Build/*

!Vulkan/Build/WindowsVC2010/
!Vulkan/Build/LinuxGeneric/

Vulkan/Build/WindowsVC2010/*
Vulkan/Build/LinuxGeneric/*

!Vulkan/Build/WindowsVC2010/MyDemo.vcxproj
!Vulkan/Build/WindowsVC2010/MyDemo.sln
!Vulkan/Build/WindowsVC2010/MyDemo.rc
!Vulkan/Build/WindowsVC2010/MyDemo.vcxproj.filters

!Vulkan/Build/LinuxGeneric/Makefile

OGLES/Build/*

!OGLES/Build/WindowsVC2010
!OGLES/Build/LinuxGeneric

OGLES/Build/WindowsVC2010/*
OGLES/Build/LinuxGeneric/*

!OGLES/Build/WindowsVC2010/VulkanMyDemo.vcxproj
!OGLES/Build/WindowsVC2010/VulkanMyDemo.sln
!OGLES/Build/WindowsVC2010/VulkanMyDemo.rc
!OGLES/Build/WindowsVC2010/VulkanMyDemo.vcxproj.filters

!OGLES/Build/LinuxGeneric/Makefile
